{#
/**
 * @file
 * Feedback form implementation for webform email wrapper template as HTML.
 *
 * Available variables:
 * - message: The email message which contains to, from, subject, message, etc…
 * - webform_submission: The webform submission.
 * - handler: The webform handler.
 * - asu_webform_extras_feedbackon: HTML that provides links to the related
 * content for which this is the feedback.
 *
 * @ingroup themeable
 */
#}
{{ message.body }}
{% if asu_webform_extras_feedbackon %}
  <p><strong>Feedback on</strong><br />
  {{ asu_webform_extras_feedbackon|raw }}
  </p>
{% endif %}