{#
/**
 * @file
 * Template for Islandora Repository Reports tips block.
 *
 * Available variables:
 * - content: The content of the tips text.
 *
 * @ingroup themeable
 */
#}
  <div id="islandora_repository_reports_tips_content">{{ content }}</div>
