/**
 * CSS to control anything related to our collection page displays
 ============================================================================ */


/**
 * Set the color of the block title
 ============================================================================ */
#block-admintoolbox h2 {
  background-color: #f5c74f !important;
  color: #191918 !important;
}

#block-admintoolbox {
  border: none;
}

#block-admintoolbox .pseudo_block {
  border: 1px solid;
}