[submodule "web/modules/custom/islandora_matomo"]
	path = web/modules/custom/islandora_matomo
	url = https://github.com/asulibraries/islandora_matomo.git
[submodule "web/modules/custom/islandora_repository_reports"]
	path = web/modules/custom/islandora_repository_reports
	url = https://github.com/mjordan/islandora_repository_reports.git
