[submodule "web/modules/custom/islandora_repository_reports"]
	path = web/modules/custom/islandora_repository_reports
	url = https://github.com/mjordan/islandora_repository_reports.git
[submodule "web/modules/custom/asu_header"]
	path = web/modules/custom/asu_header
	url = https://github.com/asulibraries/unity_header.git
[submodule "web/modules/custom/islandora_bagger_integration"]
	path = web/modules/custom/islandora_bagger_integration
	url = https://github.com/mjordan/islandora_bagger_integration.git
