/**
 * CSS to control individual classes that are used in block code for containers
 ============================================================================ */
.float_l_18, .float_l_80, .float_l_49  {
  float: left;
}

.float_l_18 {
  width: 18%;
  padding-right: 24px;
}

.float_l_80 {
  width: 80%;
}

.float_l_49 {
  width: 49%;
}

.clearfloat {
  clear: both;
}

.disabled_small_prompt {
  font-size: smaller;
}

.link_cursor {
  cursor: pointer;
}

.image_view_overlay {
  position: relative;
}

.image_view_overlay .expand {
  position: absolute;
  right: 3px;
  bottom: 3px;
  cursor: pointer;
  width: 28px;
  height: 32px;
  z-index: 100;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M212.686 315.314L120 408l32.922 31.029c15.12 15.12 4.412 40.971-16.97 40.971h-112C10.697 480 0 469.255 0 456V344c0-21.382 25.803-32.09 40.922-16.971L72 360l92.686-92.686c6.248-6.248 16.379-6.248 22.627 0l25.373 25.373c6.249 6.248 6.249 16.378 0 22.627zm22.628-118.628L328 104l-32.922-31.029C279.958 57.851 290.666 32 312.048 32h112C437.303 32 448 42.745 448 56v112c0 21.382-25.803 32.09-40.922 16.971L376 152l-92.686 92.686c-6.248 6.248-16.379 6.248-22.627 0l-25.373-25.373c-6.249-6.248-6.249-16.378 0-22.627z"/></svg>') transparent;
}

.image_view_overlay .expand_link {
  display: inline;
}

.image_view_overlay .expand_grip {
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 99;
  background: url('../images/expand_grip.png') transparent;
}

/**
 * Set the color of the block title
 ============================================================================ */
#main-content .block__inner .block__title {
  background-color: #e8e8e8;
  color: #333333;
  padding: 0.75rem;
}

#iiif_box .block__title, #print_and_share_box .block__title, #citations_box .block__title {
  font-size: 20px;
  font-weight: bold;
  background-color: #fff !important;
  padding: 0.25rem !important;
}

li.rrssb-email span, li.rrssb-facebook span,
li.rrssb-twitter span, li.rrssb-print span  {
  background-color: white !important;
  color: #8c1d40 !important;
}
li.rrssb-email a, li.rrssb-facebook a,
li.rrssb-twitter a, li.rrssb-print a  {
  background-color: white !important;
}
li.rrssb-email a:hover, li.rrssb-facebook a:hover,
li.rrssb-twitter a:hover, li.rrssb-print a:hover  {
  background-color: #8c1d40 !important;
}

.rrssb-email .rrssb-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>') !important;
}
.rrssb-facebook .rrssb-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M 218.00,480.00 C 218.00,480.00 218.00,327.00 218.00,327.00 218.00,327.00 155.00,327.00 155.00,327.00 155.00,327.00 155.00,256.00 155.00,256.00 155.00,256.00 218.00,256.00 218.00,256.00 218.00,256.00 218.00,217.00 218.00,217.00 218.00,204.62 217.46,192.27 219.44,180.00 223.34,155.81 235.85,132.99 257.00,119.81 265.31,114.64 271.61,111.93 281.00,109.29 288.49,107.19 305.40,104.74 313.00,105.04 313.00,105.04 324.00,106.00 324.00,106.00 324.00,106.00 343.00,107.17 343.00,107.17 343.00,107.17 366.00,110.00 366.00,110.00 366.00,110.00 366.00,170.00 366.00,170.00 350.58,170.00 324.10,167.95 311.00,175.53 293.73,185.52 294.00,203.66 294.00,221.00 294.00,221.00 294.00,256.00 294.00,256.00 294.00,256.00 363.00,256.00 363.00,256.00 363.00,256.00 357.58,291.00 357.58,291.00 357.58,291.00 352.00,327.00 352.00,327.00 352.00,327.00 294.00,327.00 294.00,327.00 294.00,327.00 294.00,480.00 294.00,480.00 294.00,480.00 434.00,480.00 434.00,480.00 440.65,479.99 443.65,479.59 450.00,477.30 454.11,475.82 457.50,473.85 461.00,471.24 481.06,456.33 480.00,441.04 480.00,419.00 480.00,419.00 480.00,388.00 480.00,388.00 480.00,388.00 480.00,78.00 480.00,78.00 479.99,71.35 479.59,68.35 477.30,62.00 475.82,57.89 473.85,54.50 471.24,51.00 456.33,30.94 441.04,32.00 419.00,32.00 419.00,32.00 388.00,32.00 388.00,32.00 388.00,32.00 78.00,32.00 78.00,32.00 52.40,32.04 32.04,52.40 32.00,78.00 32.00,78.00 32.00,263.00 32.00,263.00 32.00,263.00 32.00,435.00 32.00,435.00 32.12,460.05 53.22,479.96 78.00,480.00 78.00,480.00 218.00,480.00 218.00,480.00 Z"/></svg>') !important;
}
.rrssb-twitter .rrssb-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M 70.00,32.08 C 65.12,33.55 60.35,34.94 56.00,37.46 41.60,45.81 32.08,60.21 32.00,77.00 32.00,77.00 32.00,95.00 32.00,95.00 32.00,95.00 32.00,131.00 32.00,131.00 32.00,131.00 32.00,434.00 32.00,434.00 32.01,440.65 32.41,443.65 34.70,450.00 36.18,454.11 38.15,457.50 40.76,461.00 55.67,481.06 70.96,480.00 93.00,480.00 93.00,480.00 124.00,480.00 124.00,480.00 124.00,480.00 434.00,480.00 434.00,480.00 440.65,479.99 443.65,479.59 450.00,477.30 454.11,475.82 457.50,473.85 461.00,471.24 481.06,456.33 480.00,441.04 480.00,419.00 480.00,419.00 480.00,388.00 480.00,388.00 480.00,388.00 480.00,78.00 480.00,78.00 479.99,71.35 479.59,68.35 477.30,62.00 475.82,57.89 473.85,54.50 471.24,51.00 462.50,39.25 449.70,32.07 435.00,32.08 435.00,32.08 420.00,32.08 420.00,32.08 420.00,32.08 390.00,32.08 390.00,32.08 390.00,32.08 177.00,32.08 177.00,32.08 177.00,32.08 107.00,32.08 107.00,32.08 107.00,32.08 70.00,32.08 70.00,32.08 Z M 281.00,175.00 C 281.00,175.00 328.00,175.00 328.00,175.00 331.16,175.01 335.02,174.59 337.26,177.31 339.62,180.18 339.00,187.31 339.00,191.00 339.00,191.00 339.00,225.00 339.00,225.00 338.99,232.76 339.10,236.83 330.00,237.00 330.00,237.00 281.00,237.00 281.00,237.00 281.00,237.00 281.00,321.00 281.00,321.00 281.03,338.80 291.49,350.46 310.00,347.56 314.98,346.78 327.91,341.85 330.96,342.83 335.17,344.18 336.41,349.32 337.81,353.00 337.81,353.00 347.00,380.00 347.00,380.00 348.18,383.47 350.87,389.44 349.97,393.00 347.66,402.23 327.42,409.20 319.00,411.57 307.14,414.92 295.21,415.51 283.00,415.04 259.17,414.11 238.31,408.51 221.01,391.00 196.93,366.59 197.00,335.78 197.00,304.00 197.00,304.00 197.00,238.00 197.00,238.00 197.00,238.00 172.00,238.00 172.00,238.00 169.33,237.96 166.50,237.99 164.28,236.26 161.10,233.79 161.05,229.65 161.00,226.00 161.00,226.00 161.00,198.00 161.00,198.00 161.01,193.54 161.03,187.00 163.89,183.34 166.30,180.23 177.48,176.09 182.00,173.40 192.92,166.89 200.60,159.61 207.64,149.00 213.45,140.25 217.48,129.28 219.55,119.00 220.68,113.39 220.59,103.19 224.42,99.31 227.79,95.89 234.50,96.01 239.00,96.00 239.00,96.00 267.00,96.00 267.00,96.00 278.38,96.02 280.98,97.24 281.00,109.00 281.00,109.00 281.00,175.00 281.00,175.00 Z" /></svg>') !important;
}
.rrssb-print .rrssb-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 192V77.25c0-8.49-3.37-16.62-9.37-22.63L393.37 9.37c-6-6-14.14-9.37-22.63-9.37H96C78.33 0 64 14.33 64 32v160c-35.35 0-64 28.65-64 64v112c0 8.84 7.16 16 16 16h48v96c0 17.67 14.33 32 32 32h320c17.67 0 32-14.33 32-32v-96h48c8.84 0 16-7.16 16-16V256c0-35.35-28.65-64-64-64zm-64 256H128v-96h256v96zm0-224H128V64h192v48c0 8.84 7.16 16 16 16h48v96zm48 72c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"/></svg>') !important;
}
