/** Adjust audio controller placement for members page. */
.view-display-id-smallest .views-row {
    padding: 0px;
}

.field--name-field-media-audio-file audio {
    width: 206px;
}

.av_ajax_player {
    cursor: pointer;
}