/** Adjust audio controller placement for members page. */
.view-display-id-smallest .views-row {
    padding: 0px;
}

.field--name-field-media-audio-file audio {
    width: 200px;
}

.av_ajax_player {
    cursor: pointer;
}

/** Adjust video player to fit in container. **/
.view-video-media-evas video {
  width: 100%;
  height: 100%;
}
