#islandora-repository-reports-is-loading-message {
  display: none;
  text-align: center;
}

#islandora-repository-reports-chart-title {
  padding-top: 20px;
  text-align: center;
}

.asu_statistics h3 {
  margin-bottom: 2px;
}

.asu_statistics_csv_link {
  font-size: smaller;
  font-weight: 200;
  margin-bottom: 4px;
}
