{#
/**
* @file
* Default theme implementation to display a custom exception.
*
* Available variables:
* - message: The exception message being passed in.
*
* @ingroup themeable
*/
#}

<h1>You've encountered an error</h1>

<h2>{{ message|raw }}</h2>


