{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @ingroup themeable
 */
#}

<span class="facet-item__value">{{ value }}</span>
{% if is_active %}
	<span class="facet-item__status js-facet-deactivate">
		<i class="fas fa-times"></i>
	</span>
{% endif %}
{% if show_count %}
  <span class="facet-item__count badge badge-pill badge-light">{{ count|number_format(0, '.', ',') }}</span>
{% endif %}
