$accent-shade: #8C1D40;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
$brightmaroon: #d23153; // Hover for ASU maroon links WS 1.0
$primary-shade: rgb(140, 29, 64);
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
