.player_track td.track-audio {
    display: none;
}

.player_track:has(audio) {
    cursor: pointer;
}

.player_track td div {
    margin: 0;
}

.player_track .track_number {
    font-weight: bolder;
    font-size: 2em;
    padding: .25em;
}

.track_scroll_window {
    max-height: clamp(5em,800px,800px);
    overflow-y: auto;
    /* Provide room for the scroll-bar. */
    padding-right: 0.5em;
}

#player_tracks tr:has(audio):hover td,
#player_tracks tr:has(audio):focus td {
    background-color: lightgrey;
}

#player_tracks .playing {
    background-color: lightgrey;
}

#player_tracks .field--type-entity-reference {
    margin: 0;
}

#player_bar {
    /* Hide to start. */
    display: none;
    background-color: lightgrey;
    padding: 1em;
}

#player_bar_status {
    /* Hide to start. */
    display: none;
}

#player_bar audio {
    width: 100%;
    padding: .2em;
}

#player_bar audio:hover {
    transform: revert;
}
