.player_track td.track-audio {
    display: none;
}

.player_track:has(audio) {
    cursor: pointer;
}

.player_track td div {
    margin: 0;
}

.player_track th {
    font-weight: bolder;
    font-size: 2em;
    padding: .25em;
}

/* #player_tracks tr:has(audio):hover th,
#player_tracks tr:has(audio):focus th {
    width: 1.75em;
    font: var(--fa-font-solid);
    font-size: 2em;
    font-weight: 900;
    content: '\f144';
    padding-top: .33em;
} */

#player_tracks .playing {
    background-color: lightgrey;
}

#player_tracks .field--type-entity-reference {
    margin: 0;
}

#player_bar {
    /* Hide to start. */
    display: none;
    background-color: lightgrey;
    padding: 1em;
}

#player_bar_status {
    /* Hide to start. */
    display: none;
}

#player_bar audio {
    width: 100%;
    padding: .2em;
}

#player_bar audio:hover {
    transform: revert;
}
