{% if asu_download_restricted|render|striptags|trim is not empty %}
	<b>
	{% if file_size %}
	{{ file_size | format_bytes }}
	{% endif %}
	{{ asu_download_info }}
	</b>
	<br/>
	<br/>
	{{ asu_download_restricted }}
{% elseif asu_download_links is not empty %}
	<h5>Downloads</h5>
	<div class="btn-group" role="group">
		{{ asu_download_links }}
	</div>
{% endif %}
