<b>
{% if file_size %}
  {{ file_size | format_bytes }}
{% endif %}
{{ asu_download_info }}
</b>
<br/>
<br/>
{% if asu_download_links|render|striptags|trim is not empty %}
	<div class="btn-group" role="group">
		<button id="dropdownMenuButton" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-download"></i>
			Download</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{{ asu_download_links }}
		</div>
	</div>
{% else %}
	{{ asu_download_restricted }}
{% endif %}
