/**
 * CSS to control individual classes that are used in block code for containers
 ============================================================================ */
.float_l_18, .float_l_80, .float_l_49  {
  float: left;
}

.float_l_18 {
  width: 18%;
  padding-right: 24px;
}

.float_l_80 {
  width: 80%;
}

.float_l_49 {
  width: 49%;
}

.clearfloat {
  clear: both;
}

.disabled_small_prompt {
  font-size: smaller;
}

.link_cursor {
  cursor: pointer;
}

/**
 * Set the color of the block title
 ============================================================================ */
#main-content .block__inner .block__title {
  background-color: #e8e8e8;
  color: #333333;
  padding: 0.75rem;
}
