/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
    font-size: 0.929em$font-size-sm;
    background: none;
    padding-left: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}
.page-view-collections .breadcrumb {
    border-bottom: 1px solid $gray-3;
    border-radius: 0;
}

.region-breadcrumb {
    padding: 0 15px 0.25em;
    width: 100%;
}
