/**
 * @file
 * Styles for ASU Lib Barrio buttons. Expand/override bootstrap style.
 */

.btn-link {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: none;
  background: none;
}
.btn-link:hover {
  text-decoration: none;
}

.btn-primary, .btn-primary:hover {
  @extend .btn-maroon;
}

 nav #search-form .btn.button {
  font-size: $uds-component-button-medium-font-size;
  padding: $uds-component-button-padding-y-medium $uds-component-button-padding-x-medium;
}
.button--small {
  @extend .btn-sm;
}


/* WS2.0 style buttons for some form elements */
button.tabledrag-toggle-weight {
  border-radius: 96px;
  display: inline-block;
  transition: .1s ease-out;
  background-color: $gray-4;
  border: none;
  padding: 8px 16px; /* small WS 2.0 default button size */
  margin: 0 .2rem .5rem 0;
  a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    color: $gray-7;
  }
  @media (min-width: 800px) {
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }

  @media (max-width: 800px) {
    &:active {
      transform: scale(.95);
    }
  }

}

// /* stop full-width buttons in the body - don't want to mess with sidebar */
// @media (min-width: 768px) {
//   #main .form-control.btn {
//     width: auto;
//   }
// }