/**
 * @file
 * Styles for ASU Lib Barrio buttons. Expand/override bootstrap style.
 */

.btn-link {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px dotted $maroon;
  background: none;
}
.btn-link:hover {
  text-decoration: none;
}
