/**
 * @file
 * Styles for ASU Lib Barrio buttons. Expand/override bootstrap style.
 */

.btn-link {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px dotted $maroon;
  background: none;
}
.btn-link:hover {
  text-decoration: none;
}
a.btn-primary,
a.copy_button { color: #fff; }
.btn-primary:hover,
.btn-primary:focus,
a.copy_button:hover,
a.copy_button:focus {
  color: $white;
  background-color: $brightmaroon;
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: $brightmaroon;
}
.sidebar .btn-primary a { background-color: transparent;}
.sidebar .btn-primary a:hover,
.sidebar .btn-primary a:focus,
.sidebar .btn-primary:hover,
.sidebar .btn-primary:focus {
  background-color: $brightmaroon;
  border-color: $brightmaroon;
}