/*------------------------------------------------------------------
Cards - Copied from ASU Unity Design System
extends/_cards.scss

1. Basic Cards
3. Story Cards
-------------------------------------------------------------------*/

.row-spaced {
  margin-bottom: -32px;
}
.row-spaced > .col,
.row-spaced > div {
  margin-bottom: 32px;
}

/*------------------------------------------------------------------
1. Basic Cards
--------------------------------------------------------------------*/

.card {
  height: $uds-component-card-basic-height-percent;
  display: $uds-component-card-basic-display;
  flex-direction: $uds-component-card-basic-flex-direction;
}
.card-hover:hover {
  transform: $uds-component-card-basic-hover-transform;
  cursor: $uds-component-card-basic-hover-cursor;
  box-shadow: $uds-component-card-basic-hover-box-shadow;
}
.card-hover:active {
  transform: scale(0.95);
  cursor: $uds-component-card-basic-hover-cursor;
}
.card-hover:focus {
  outline: 0;
  box-shadow: 0 0 8px #00baff !important;
}
.card-hover > button {
  border: none;
  background: transparent;
  text-align: inherit;
  margin: 0;
  padding: 0;
}
.card-hover > button:focus {
  outline: 0;
  box-shadow: 0 0 8px #00baff !important;
  border: 0;
}

.card-icon-top {
  width: $uds-component-card-basic-icon-top-width;
  height: $uds-component-card-basic-icon-top-width;
  margin: $uds-component-card-basic-icon-top-margin;
}
.card-img-top img,
.card-img-top {
  max-width: $uds-component-card-basic-image-top-width-percent;
  height: $uds-component-card-basic-image-top-height;
  object-fit: $uds-component-card-basic-image-top-object-fit;
}
.card-header {
  padding: 32px 32px 16px 32px;
  flex-grow: 1;
  background: none;
  border: 0;
}
.card-body {
  padding: 0 32px 24px 32px;
  flex-grow: 100;
}
.card-link {
  padding: 0 32px 24px 32px;
}
.card-footer {
  padding: 0 32px 24px 32px;
  border-top: 0;
}
.card-tags {
  padding: 0 32px 24px 32px;
  border-top: 0;
  margin-top: -8px;
}
.card-tags .btn-tag {
  margin-top: 8px;
}
.card-button {
  margin-top: $uds-component-card-basic-button-margin-top;
  padding: 0 32px 24px 32px;
}
.card > div:last-child {
  padding-bottom: 32px;
}

.node--view-mode-collection-browse-teaser {
  .card-body {
    padding: 8px !important;
  }

  .card-title {
    font-size: 16px;
    margin-bottom: 2px;
    padding-top: 16px;
    a, a:visited {
      color: #8C1D40;
      &:hover {
        color: #D23153;
      }
    }
  }

  .card-img-top {
    height: unset;
  }
}

@media (max-width: 991.98px) {
  .card-icon-top {
    width: $uds-component-card-basic-icon-top-width;
    height: $uds-component-card-basic-icon-top-width;
    margin: $uds-component-card-basic-icon-top-margin;
  }
  .card-img-top img,
  .card-img-top {
    height: 160px;
  }
  .card-header {
    padding: 24px 24px 16px 24px;
  }
  .card-body {
    padding: 0 24px 24px 24px;
  }
  .card-link {
    padding: 0 24px 24px 24px;
  }
  .card-footer {
    padding: 0 24px 24px 24px;
    border-top: 0;
  }
  .card-tags {
    padding: 0 24px 24px 24px;
    border-top: 0;
  }
  .card-button {
    margin-top: $uds-component-card-basic-button-margin-top;
    padding: 0 24px 24px 24px;
  }
  .card > div:last-child {
    padding-bottom: 24px;
  }
}

@media (min-width: 992px) {
  .col-lg-6 .card {
    .card-img-top img,
    .card-img-top {
      height: 240px;
    }
  }
  .col-lg-6 .card-horizontal .card-img-top {
    height: auto;
    max-width: 40%;
  }
}

.card-sm {
  .card-body {
    padding-right: 24px;
    padding-left: 24px;
  }
  .card-header {
    padding: 24px 24px 16px 24px;
  }
  .card-img-top img,
  .card-img-top {
    height: 160px;
  }
  .card-footer-link {
    padding-right: 24px;
    padding-left: 24px;
  }
  .card-button {
    padding-right: 24px;
    padding-left: 24px;
  }
  .card-link {
    padding-right: 24px;
    padding-left: 24px;
  }
  .card-tags {
    padding-right: 24px;
    padding-left: 24px;
  }
  .card-event-details {
    padding-right: 24px;
    padding-left: 24px;
  }
}
.card-lg {
  .card-img-top img,
  .card-img-top {
    height: $uds-component-card-basic-image-top-height-lg;
  }
}
.card-header .card-title {
  margin: 0;
}
.card-title a,
.card-title a:visited {
  color: $uds-component-card-basic-title-link-color;
  text-decoration: $uds-component-card-basic-title-link-text-decoration;
}
.card-title a:hover {
  text-decoration: $uds-component-card-basic-title-link-text-decoration-hover;
}

/*------------------------------------------------------------------
3. Story Cards
--------------------------------------------------------------------*/

.card-story .card-header,
.card-story .card-body,
.card-story .card-button,
.card-story .card-footer,
.card-story .card-tags,
.card-story .card-footer,
.card-story .card-link {
  margin-left: 24px;
  margin-right: 24px;
  background-color: $white;
  padding-left: 16px;
  padding-right: 16px;
}
.card-story .card-header {
  padding-top: 24px;
}
.card-story .card-footer {
  padding: $uds-component-card-basic-footer-link-padding;
  padding-left: 24px;
  padding-right: 24px;
}
.card-story .card-img-top {
  margin-bottom: -48px;
}
.card-story.card-sm {
  .card-body {
    margin: $uds-component-card-story-body-margin-sm;
  }
  .card-header {
    margin: $uds-component-card-story-body-margin-sm;
  }
  .card-button {
    margin: $uds-component-card-story-body-margin-sm;
  }
}
.card-story.card-horizontal .card-img-top {
  margin-right: -32px;
  position: relative;
  z-index: 0;
}
.card-story.card-horizontal .card-content-wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  z-index: 100;
  background-color: white;
}
.card-story.card-horizontal {
  .card-header,
  .card-body,
  .card-button,
  .card-footer,
  .card-tags,
  .card-footer,
  .card-link {
    margin-left: 0;
    margin-right: 0;
    background-color: $white;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/*------------------------------------------------------------------
5. Foldable Cards
--------------------------------------------------------------------*/
@mixin btn-transparent {
  border-color: transparent;
  background-color: transparent;
}

.card-foldable {
  border-color: $gray-3;
  border-left: $uds-size-spacing-1 solid $uds-color-base-gold;
  height: auto;

  .card-header {
    padding: $uds-size-spacing-1;

    &:hover {
      background-color: $uds-color-base-gray-1;
    }

    h4,
    h5 {
      margin: 0;

      a {
        padding: $uds-size-spacing-1 $uds-size-spacing-3;
        color: $uds-color-base-gray-7;
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        svg.fa-chevron-up {
          margin-left: $uds-size-spacing-3;
          transition-duration: $uds-time-transition-base;
        }

        &.collapsed svg.fa-chevron-up {
          transform: rotate(180deg);
        }
      }
    }

    +.card-body {
      border-top: 1px solid $gray-3;
    }
  }

  .card-body {
    background-color: $uds-color-base-gray-1;

    >p:first-child {
      margin-top: $uds-size-spacing-2;
    }

    >p:last-child {
      margin-bottom: 0;
    }
  }
}

/*------------------------------------------------------------------
6. Foldable - Desktop Disable
--------------------------------------------------------------------*/
@mixin desktop-disable {
  border-left: 1px solid $gray-3;

  .card-header {
    h4 a {
      padding-top: $uds-size-spacing-4;
      padding-bottom: $uds-size-spacing-4;

      &:hover {
        background-color: transparent;
      }
    }

    svg {
      display: none;
    }

    span {
      display: none;
    }
  }

  .card-header+.card-body {
    border-top: 0;
  }

  .card-body {
    background-color: transparent;

    >p:first-child {
      margin-top: 0;
    }
  }

  .collapse {
    display: block;
    height: auto !important;
    visibility: visible;

    &:not(.show) {
      display: block;
    }
  }

  .collapsing {
    position: relative;
    height: unset !important;
    overflow: hidden;
  }
}

@include media-breakpoint-up(xl) {
  .card-foldable.desktop-disable-xl {
    @include desktop-disable;
  }
}

@include media-breakpoint-up(lg) {
  .card-foldable.desktop-disable-lg {
    @include desktop-disable;
  }
}

@include media-breakpoint-up(md) {
  .card-foldable.desktop-disable-md {
    @include desktop-disable;
  }
}

.block-latest-additions-to-collection-block .card {
  height: unset;
  .card {
    img, .icon-container {
      min-height: 200px;
    }
    .icon-container i {
      margin-top: 25%;
    }
  }
}
