/*------------------------------------------------------------------
Cards - Copied from ASU Unity Design System
extends/_cards.scss

1. Basic Cards
3. Story Cards
-------------------------------------------------------------------*/

.row-spaced {
  margin-bottom: -32px;
}
.row-spaced > .col,
.row-spaced > div {
  margin-bottom: 32px;
}

.block-latest-additions-to-collection-block .card {
  height: unset;
  .card {
    img, .icon-container {
      min-height: 200px;
    }
    .icon-container i {
      margin-top: 25%;
    }
  }
}

.view-collections .views-view-grid{
  .card-horizontal .card-content-wrapper {
    display: flex;
    flex-direction: column;
    .card-body {
      display: flex;
      flex-grow: 100000;
    }
  }
}
