#fp-flexslider .flex-direction-nav a,
#fp-flexslider .flex-direction-nav a { display: block; }
.flex-direction-nav a { height: 50px; transition: none; } /* fix bottom of arrow getting cut off */
/* we want the controls always visible and outside the content area */
.flexslider .flex-direction-nav a {display: block; opacity: .7; border: none; }
.flex-direction-nav a { top: 45%; }
.flexslider { margin: 0 50px 60px 50px; } /* make room for controls on the outside */
.flexslider:hover .flex-direction-nav .flex-next { right: -50px; } /* and keep them there */
.flexslider:hover .flex-direction-nav .flex-prev { left: -50px; }
/* better icons for the pause/play control */
.flex-pauseplay a { height: 30px; border: none; bottom: -40px; }
.flex-pauseplay a.flex-play::before {
  font-family: FontAwesome;
  content: '\f04b';
}
.flex-pauseplay a.flex-pause::before {
  font-family: FontAwesome;
  content: '\f04c';
}
#flex-recent-keep-items {
  width: auto;
}
.view-id-landing_page_recent_keep_items, .view-id-flexslider_views_example {
  .view-content {
    width: 100%;
  }
  .view-content.row > div {
    @extend .col-12;
  }
  .slides li {
    // padding: 20px;
    img {
      // max-height: 150px;
      max-width: 150px;
      padding: 20px;
      // width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .flex-caption {
      padding: 15px 20px 0px 20px;
    }
    i {
      padding: 20px;
    }
  }
  .flex-viewport {
    background-color: rgba(242, 242, 242, 1);
    padding: 10px;
  }
}

