// Custom Styles for ASU Footer

#block-asubrandfooter, #block-asulibraryfooterblock {
    width: 100%;
    h5 {
        font-weight: 700;
        font-size: 1rem;
    }
}
.site-footer .container-fluid {
    margin: 0;
}

#block-asulibraryfooterblock {
    margin-bottom: -16px;
}

/* Mobile breakpoint */
@media (max-width: 990px) {
    .asulib-footer {
        img {
            max-width: 50%;
        }
    }
}

@media (min-width: 1260px) {
    .card-foldable.desktop-disable-xl .card-header i {
        display: none;
    }
}
.card-foldable .card-header h4 a.collapsed i.fa-chevron-up, .card-foldable .card-header h5 a.collapsed i.fa-chevron-up {
    transform: rotate(180deg);
}

#wrapper-footer-land-ack {
    background: #1e1e1e;
    color: $gray-1;
    font-weight: 200;
    p {
       padding-bottom: 25px; 
    }
}

#footer-columns {
    padding-left: 6px;
}

#wrapper-footer-columns {
    border-top: none !important;
    #footer-columns {
        border-top: 2px solid #393939;
    }
}