// Custom Styles for ASU Footer

#block-asubrandfooter, #block-asulibraryfooterblock {
    width: 100%;
}
.site-footer .container-fluid {
    margin: 0;
}
.asulib-footer {
    width: 100%;
    padding: 30px;
    background-color: rgba(30, 30, 30, 1);
    a {
        color: #A9A9A9;
    }
    .list-inline {
        padding-left: 10px;
    }
    .list-unstyled.links li{
        margin-top: 15px;
        margin-bottom: 15px;
        a {
            border-bottom: 1px dotted;
            border-bottom-color: #a9a9a9;
        }
    }
    i {
        font-size: 2.4em;
    }
}
#block-asulibraryfooterblock {
    margin-bottom: -16px;
}
