/**
 * @file
 * Visual styles for Bootstrap Barrio's form components.
 */

.form-required::after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url('https://keep.lib.asu.edu/themes/custom/asulib_barrio/images/required.svg');
  background-repeat: no-repeat;
  background-size: ($input-height / 2) ($input-height / 2);
  width: ($input-height / 2);
  height: ($input-height / 2);
  margin: 0 0.3em;
}

form .filter-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

form .form-type-textarea {
  margin-bottom: 0;
}

.node-form .field--name-field-identifier-type::after {
  content: '';
}

/* Webform styling elements -- maybe expand to all form elements? */

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.js-form-item {
  margin-top: 1rem;
}
#iiif_box .js-form-item {
  margin-top: 0;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="number"],
input[type="week"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
.uneditable-input,
select {
  margin-bottom: 0;
  max-width: $asu-width;
}
/* this table structure is a little more complicated so ignore it for now */
.webform-multiple-table input[type="text"] {
  max-width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-checkbox {
  padding-left: 0.75rem;
}

.js-webform-checkboxes .checkbox {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.radio, .webform-submission-form .checkbox {
  min-height: 17px;
}

.js-form-type-checkbox input[type="checkbox"], .js-form-type-radio input[type="radio"] {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0;
  z-index: 1;
}

.diff-revisions .js-form-type-checkbox input[type="checkbox"], .js-form-type-radio input[type="radio"] {
  opacity: 1;
}

.form-check-label {
  display: inline-block;
  position: relative;
  vertical-align: top;
  max-width: $asu-width;
  padding-left: 1.25rem;
}
.form-radio-label {
  display: inline-block;
  padding-left: 1rem;
  position: relative;
  vertical-align: middle;
  max-width: $asu-width;
}

.radio label, .checkbox label {
  font-weight: normal;
  cursor: pointer;
}

.form-check-label::before {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .25rem;
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  left: 0;
  margin-left: -2rem;
  position: absolute;
  transition: border .15s ease-in-out 0s, color .15s ease-in-out 0s;
  margin-left: -1rem;
}

.form-group legend {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
}

.js-form-type-checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f00c";
  font-weight: 600;
}

.form-check-label::after {
  color: #555;
  display: inline-block;
  font-size: 1.2rem;
  height: 1.4325rem;
  width: 1.5rem;
  position: absolute;
  left: .05rem;
  top: -.15rem;
  margin-left: -.9rem;
  padding-left: 0;
  padding-top: 0;
}

.form-radio-label::before {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: "";
  display: inline-block;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  left: 0;
  margin-left: -1.2rem;
  transition: border .15s ease-in-out 0s;
}

.form-radio-label::after {
  background-color: #555;
  border-radius: 50%;
  content: " ";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: .25rem;
  left: .3rem;
  margin-left: -1.25rem;
  transform: scale(0, 0);
  transition: transform .05s cubic-bezier(.8, -.33, .2, 1.33) 0s;
}

.form-check-input:focus + .form-check-label::before,
.form-radio-input:focus + .form-radio-label::before {
  color: #495057;
  background-color: #fff;
  border-color: #da4e7a;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(140, 29, 64, .25);
}

.description {
  font-size: .85rem;
  max-width: $asu-width;
}

/* Draggable tables */
a.tabledrag-handle .handle {
  padding: 1rem;
  margin: -.25rem 0 0 .5rem;
  background-size: 25px;
  width: 30px;
}

.draggable a.tabledrag-handle {
  border: none;
}
.node-form a.tabledrag-handle {
  overflow: visible;
  margin-top: -8px;
}

.tabledrag-toggle-weight-wrapper {
  position: absolute;
  right: 2rem;
}

.webform-multiple-table td.webform-multiple-table--operations input {
  padding: 16px 32px;
}

.webform-multiple-table td input[type="image"] {
  display: inline-block;
  width: 30px;
  padding: 5px;
  margin-top: .25rem;
  @media (min-width: 800px) {
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }

  @media (max-width: 800px) {
    &:active {
      transform: scale(.95);
    }
  }
}

.webform-multiple-table td input[type="image"] + input[type="image"] {
  margin-right: 1rem;
}

.webform-multiple-add fieldset,
.webform-multiple-add input {
  display: inline-block;
}
.webform-multiple-add input.form-number {
  border-radius: 0;
  width: auto;
  max-width: 100px;
}
.webform-multiple-add .input-group-text {
  background: #fff;
}
.webform-multiple-add input.button {
  margin-top: -2px;
}
.form-type-webform-multiple tr:last-child td,
.field-multiple-table tr:last-child td {
  border-bottom: 1px solid $gray-3;
}
.form-type-webform-multiple thead tr th {
  padding-top: 0;
  padding-bottom: 0;
}
.form-type-webform-multiple {
  max-width: $asu-width;
  padding-top: 20px;
}
#group_members_table, #thesis_director_table, #committee_members_table, #additional_contributors_table {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  th {
    padding: 10px;
  }
}
.form-wrapper summary {
  font-size: 1.25rem;
  font-weight: bold;
}

/* draggable paragraphs */
.node-form .field-label h4 {
  font-size: $font-size-sm;
  font-weight: bold;
  margin-bottom: 5px;
}
.paragraph-type-top {
  flex-flow: row-reverse;
  margin: 0;
}
.paragraph-type-top .paragraphs-dropbutton-wrapper {
  position: absolute;
  right: 2.5rem;
}
.node-form .paragraph-type-title {
  display: none;
}
.field-multiple-table th {
  padding: 0;
  padding-top: 1.25rem;
  border: 0;
}
td.field-multiple-drag {
  vertical-align: middle;
  padding-right: 0;
}
.paragraphs-subform .form-group {
  margin-bottom: 0;
}

.webform-submission-self-deposit-form div.progress-step {
  .progress-marker::after, .progress-marker::before {
    background-color: #747474 !important;
  }
}

.webform-submission-self-deposit-form div.progress-step button {
  position: relative;
  top: 1.7rem;
  z-index: 200;
}

.webform-submission-self-deposit-form div.progress-step button:not(.btn-maroon) {
  background-color: white;
}

.webform-submission-self-deposit-form td input.image-button {
  border: solid 1px #d0d0d0;
  opacity: 1;
}

.webform-submission-self-deposit-form td input.image-button:hover {
  border: solid 1px #d0d0d0;
}