/* ------------------ Header ------------------ */

#navbar-top {
    padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
    margin-right: 1rem;
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

#asu_mobile_menu {
    float: right;
}
.region-top-header {
    // width: 100%;
    // display: block;
}
// #asu_hdr {
    // width: 100%;
// }
#navbar-main {
    background-color: #353535;
    // width: 100%;
}
#navbar-top {
    @extend .container;
}
#block-mainnavigation {
    background-color: #353535;
    @extend .container;
}
ul.sf-menu a {
    color: #ededed;
    font-weight: bold;
}
header {
    margin-bottom: 20px;
}
#site-name a {
    color: black;
    font-weight: bold;
    margin-right: 0;
    font-size: 1.5rem;
}
#site-name .site-name-slogan {
    color: #4f5557;
    font-size: 1.5rem;
    padding-top: 5px;
}
