/* ------------------ Header ------------------ */

#navbar-top {
    padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
    margin-right: 1rem;
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

#asu_mobile_menu {
    float: right;
}
.region-top-header {
    width: 100%;
    display: block;
}
#asu_hdr {
    width: 100%;
}
#navbar-main {
    // background-color: $header-dark;
    // width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
#navbar-top {
    @extend .container;
}

header {
    margin-bottom: 20px;
}
#site-name a {
    color: black;
    font-weight: bold;
    margin-right: 0;
    font-size: 1.5rem;
}
#site-name .site-name-slogan, #site-name .site-name-slogan a {
    color: #4f5557;
    font-size: 1.5rem;
    padding-top: 5px;
    font-weight: normal;
}

.unpublished_title {
    background-color: #fff4da;
    font-style: italic;
    padding: 16px 8px;
}

@media (min-width: 12660px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.navbar-nav {
    flex-grow: 1;
    .block-asu-search {
        margin-left: auto;
        margin-right: 15px;
    }
}

@media (max-width: 1260px) {
    .navbar-nav .block-asu-search {
        margin-left: 0;
        margin-right: 0;
        padding: 15px 0px 8px 0;
        border-top: 1px solid $gray-3;
        > .content > .content {
            width: 100%;
            padding-right: 6%;
        }
    }
    nav #search-form--2 input.form-control {
        max-width: 100%;
    }
    nav #search-form--2 {
        padding-left: 33px;
    }
}

#header-main .navbar-toggler .fa-circle {
    font-size: 2rem;
    margin-left: -8px;
    margin-top: 2px;
}

#header-main .navbar-toggler .fa-times {
    margin-left: 0;
}

#header-main .nav-link {
    line-height: 1;
}

#header-main .dropdown-item:hover {
    background-color: transparent;
}

#header-main .dropdown-menu {
    border-radius: 0;
}


#asu-header + div, #asu-header + main {
    margin-top: 0;
}

#header-main {
    .dropdown:not(:last-child) {
        margin-bottom: 1px;
    }
    .dropdown-menu {
        border-top: none;
    }
}