/* ------------------ Header ------------------ */

#navbar-top {
    padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
    margin-right: 1rem;
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

#asu_mobile_menu {
    float: right;
}
.region-top-header {
    width: 100%;
    display: block;
}
#asu_hdr {
    width: 100%;
}
#navbar-main {
    // background-color: $header-dark;
    // width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
#navbar-top {
    @extend .container;
}
#block-mainnavigation {
    // background-color: $header-dark;
}
ul.sf-menu a {
    color: $header-text;
    font-weight: bold;
    // background: $header-dark;
    padding: 21px 25px;
}
// li.sf-depth-2 {
    // background: $header-dark;
// }
header {
    margin-bottom: 20px;
}
#site-name a {
    color: black;
    font-weight: bold;
    margin-right: 0;
    font-size: 1.5rem;
}
#site-name .site-name-slogan, #site-name .site-name-slogan a {
    color: #4f5557;
    font-size: 1.5rem;
    padding-top: 5px;
    font-weight: normal;
}

#superfish-main {
    a:focus, a:hover, a.is-active, a:active, .sfHover > a {
        background: $black;
        color: $header-hover;
    }
    a:focus {
        outline: 2px solid $focus-color;
        box-shadow: 0px 0px 5px $focus-color;
    }
    .menuparent {
        ul {
            padding: 10px 0;
            border-radius: 0 0 4px 4px;
            position: absolute;
            top: 100%;
            z-index: 1000;
            background-color: $header-dark;
            @include box-shadow(0 5px 10px rgba(0,0,0,0.2));
            a {
                padding: 9px 10px 10px 25px;
                font-weight: normal;
                line-height: 1;
                color: $header-text;
                border-bottom: 0;
            }
        }
        li > a:hover {
            color: $header-text;
        }
    }
}

#main-standardfront-page {
    a.sf-depth-1 {
        // color: $header-dark;
        height: 58px;
        width: 65px;
        overflow: hidden;
        &:before {
            content: "\f015";
            font-family: "Font Awesome 5 Free";
            color: $header-text;
        }
        &:hover, &:active, &:focus {
            color: $black;
        }
        &:hover::before, &:active::before, &:focus::before {
            color: $header-hover;
        }
    }
    a.is-active {
        color: $black;
    }
    a.is-active::before {
        color: $header-hover;
    }
}

.unpublished_title {
    background-color: #fff4da;
    font-style: italic;
    padding: 16px 8px;
}

ul.sf-menu .sf-sub-indicator::after {
    font-size: .75rem;
}

ul.sf-menu .sf-sub-indicator {
    right: 1rem;
}

a.menuparent:hover .sf-sub-indicator::after {
    color: #ffb204;
}


@media (min-width: 12660px) {
.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
}

.navbar-nav {
    flex-grow: 1;
    .block-asu-search {
        margin-left: auto;
        margin-right: 15px;
    }
}

@media (max-width: 1260px) {
    .navbar-nav .block-asu-search {
        margin-left: 0;
        margin-right: 0;
        padding: 15px 0px 8px 0;
        border-top: 1px solid $gray-3;
        > .content > .content {
            width: 100%;
            padding-right: 6%;
        }
    }
    nav #search-form input.form-control {
        max-width: 100%;
    }
    nav #search-form {
        padding-left: 33px;
    }
}

#header-main .navbar-toggler .fa-circle {
    font-size: 2rem;
    margin-left: -8px;
    margin-top: 2px;
}

#header-main .navbar-toggler .fa-times {
    margin-left: 0;
}

#header-main .nav-link {
    line-height: 1;
}

#header-main .dropdown-item:hover {
    background-color: transparent;
}

#header-main .dropdown-menu {
    border-radius: 0;
    margin-top: 1px;
}


#asu-header + div, #asu-header + main {
    margin-top: 0;
}