/**
 * @file
 * Visual styles for icons.
 */

.icon-help {
    background: url(/../../images/help.png) 0 50% no-repeat;
    /* LTR */
    padding: 1px 0 1px ($spacer * 1.5);
    /* LTR */
}

[dir="rtl"] .icon-help {
    background-position: 100% 50%;
    padding: 1px ($spacer * 1.5) 1px 0;
}

.feed-icon {
    background: url($image-assets-path+'/feed.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    width: $font-size-base;
    height: $font-size-base;
}

.rrssb {
    padding-right: 10px !important;
    li {
        width: 25% !important;
    }
}


.complex-object-icon {
    background: url($image-assets-path+'/complex-file.svg') no-repeat;
    display: block;
    filter: invert(50%) sepia(5%) saturate(10%) hue-rotate(49deg) brightness(88%) contrast(79%);
    margin-left: auto;
    margin-right: auto;
    &.fa-2x {
        width: 2rem;
        height: 2.4rem;
    }
    &.fa-6x {
        width: 5rem;
        height: 6rem;
    }
}

.uds-tooltip i {
    color: $gray-3;
}
.uds-tooltip:hover i {
    color: #00b0f3;
}
