.node--type-page {
    .gray-bg {
        background-color: $gray-2;
    }
    .padded-content-box {
        margin-bottom: $large-padding;
    }
    .view-id-content_recent .view-content {
        background-color: rgba(242, 242, 242, 1);
    }
    .view-id-content_recent.view-display-id-block_4, .view-id-content_recent.view-display-id-block_5,
    .view-id-content_recent.view-display-id-block_6 {
        .view-content {
            background-color: transparent;
        }
        i {
            color: $gray-5;
        }
    }

    .view-id-content_recent.view-display-id-block_2 {
        .view-content {
            background-color: transparent;
        }
        i {
            color: $gray-5;
        }
    }

    // #block-views-block-content-recent-block-2, #block-views-block-content-recent-block-3,
//     #block-views-block-content-recent-block-4,
//     #block-views-block-content-recent-block-6,
//     #block-views-block-content-recent-block-5 {
//         margin-top: 40px;
//     }

//     #block-views-block-content-recent-block-4, #block-views-block-content-recent-block-5,
//     #block-views-block-content-recent-block-6 {
//         @extend .col-md-6;
//         display: inline-block;
//     }

//     #block-views-block-content-recent-block-4, #block-views-block-content-recent-block-6 {
//         margin-right: -20px;
//         padding-left: 0;
//     }
//     #block-views-block-content-recent-block-5 {
//         margin-left: 20px;
//         float: right;
//         padding-right: 0;
//         td:first-of-type {
//             padding-right: 0;
//             max-width: 60px;
//         }
//     }

//     .view-id-content_recent.view-display-id-block_4 img {
//         width: auto;
//         max-height: 75px;
//         max-width: 100px;
//     }

//    .view-id-content_recent.view-display-id-block_2 {
//         .views-field-title {
//             padding-top: 10px;
//         }
//         img {
//             max-width: 150px;
//         }
//         .views-field-field-media-image > div{
//             text-align: center;
//         }
//     }

    .view-id-featured_collections {
        .slides > li > div {
            padding: 22px;
        }
        // .col-9 > a:not(.btn) {
        //     @extend h3;
        // }
        .flex-pauseplay {
            padding-top: 15px;
        }
    }

    // #views-bootstrap-content-recent-block-2, #views-bootstrap-content-recent-block-3 {
    //     width: 100%;
    //     padding: 20px;
    //     .carousel-caption {
    //         position:relative;
    //         left: 0;
    //         display: inline-block !important;
    //         top: auto;
    //         bottom: auto;
    //     }
    // }
    .flex-caption {
        word-wrap: break-word;
    }
}

#block-callstoactionblock {
    clear: both;
}

.calls-to-action {
    background: $gray-2;
    padding-top: $large-padding;
    padding-bottom: $large-padding;
}

.path-frontpage {
    header {
        margin-bottom: 0;
    }
    .node__content {
        margin-top: 0;
        padding-top: $large-padding;
        padding-bottom: $small-padding;
    }
}

.card-wrapper {
    margin-bottom: 1rem;
}

.prism-home-thumb {
    height: 6rem;
    width: auto !important;
}

.prism-fullwidth-row {
    width: 100%;
}

.sm-top-lg-bottom-padded-content {
    padding-top: $small-padding;
    padding-bottom: $large-padding;
}
.sm-top-sm-bottom-padded-content {
    padding-top: $small-padding;
    padding-bottom: $small-padding;
}


/** Fix for heros on mobile devices **/

div[class^=uds-hero] .hero {
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        max-height: 300px;
    }
}
