#keep-hero {
    background-image: url(https://repository.asu.edu/static/images/Repo_Hero_BW.408600101cfc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    color: white;
    height: 380px;
    padding-top: 50px;
    margin-bottom: 30px;

    h1 {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        max-width: fit-content;
    }
}

.node--type-page {
    p.gray-bg {
        background-color: rgba(242, 242, 242, 1);
        padding: 10px;
        margin-bottom: 30px;
    }
    .view-id-content_recent .view-content {
        background-color: rgba(242, 242, 242, 1);
    }

    #block-views-block-content-recent-block-2, #block-views-block-content-recent-block-3 {
        padding-top: 20px;
    }

    #views-bootstrap-content-recent-block-2, #views-bootstrap-content-recent-block-3 {
        width: 100%;
        padding: 20px;
        .carousel-caption {
            position:relative;
            left: 0;
            display: inline-block !important;
            top: auto;
            bottom: auto;
        }
    }

}
