#keep-hero {
    background-image: url(https://repository.asu.edu/static/images/Repo_Hero_BW.408600101cfc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    color: white;
    height: 380px;
    padding-top: 50px;
    margin-bottom: 30px;

    h1 {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        max-width: fit-content;
    }
}

.node--type-page {
    p.gray-bg {
        background-color: rgba(242, 242, 242, 1);
        padding: 10px;
        margin-bottom: 30px;
    }
    .view-id-content_recent .view-content {
        background-color: rgba(242, 242, 242, 1);
    }
    .view-id-content_recent.view-display-id-block_4, .view-id-content_recent.view-display-id-block_5 {
        .view-content {
            background-color: transparent;
        }
        img {
            max-width: 60px;
        }
        i {
            color: $gray-5;
        }
    }


    #block-views-block-content-recent-block-2, #block-views-block-content-recent-block-3,
    #block-views-block-content-recent-block-4,
    #block-views-block-content-recent-block-5 {
        margin-top: 40px;
    }

    #block-views-block-content-recent-block-4, #block-views-block-content-recent-block-5 {
        @extend .col-md-6;
        display: inline-block;
    }

    #block-views-block-content-recent-block-4 {
        margin-right: -20px;
    }
    #block-views-block-content-recent-block-5 {
        margin-left: 20px;
        float: right;
        td:first-of-type {
            padding-right: 0;
            max-width: 40px;
        }
    }

    #views-bootstrap-content-recent-block-2, #views-bootstrap-content-recent-block-3 {
        width: 100%;
        padding: 20px;
        .carousel-caption {
            position:relative;
            left: 0;
            display: inline-block !important;
            top: auto;
            bottom: auto;
        }
    }
}

#block-callstoactionblock {
    clear: both;
}

.calls-to-action {
    background: $gray-2;
    padding: 40px;
    .col-md-4 {
        background: $white;
        border: 1px solid $gray-3;
        border-top: 5px solid $primary-shade;
        min-height: 250px;
        padding: 15px;
        @media(min-width: map-get($grid-breakpoints, 'md')) {
            &:nth-of-type(1) {
                max-width: 31%;
            }
            &:nth-of-type(2) {
                max-width: 32%;
                margin-left: 3%;
            }
            &:nth-of-type(3) {
                max-width: 31%;
                margin-left: 3%;
            }
        }
    }
    p {
        padding-top: 10px;
    }
}
