/**
 * @file
 * Styles for Bootstrap Barrio page.
 */

.small-padding-bottom {
    padding-bottom: $small-padding;
}
.xs-padding-bottom {
    padding-bottom: $xs-padding;
}
.large-padding-bottom {
    padding-bottom: $large-padding;
}
.small-padding {
    padding-top: $small-padding;
    padding-bottom: $small-padding;
}
.small-padding-top {
    padding-top: $small-padding;
}
.xs-padding-top {
    padding-top: $xs-padding;
}