/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

header #search-block-form {
    padding: 5px 15px;
    flex-flow: row wrap;
}

#search-block-form, #search-home-block-form {
    display: flex;
}

nav #search-form {
    text-align: right;
    fieldset.form-group {
        display: inline-block;
        @extend .col-md-6;
        margin: 0;
        padding: 0;
        @media(max-width: 1260px) {
            max-width: 100%;
        }
    }
    .form-control {
        @extend .form-control-sm;
        line-height: 0.5;
    }
    .button {
        vertical-align: top;
        @extend .btn-sm;
    }
}

.search-home-form fieldset.form-group, .bento-home-search-form fieldset.form-group {
    margin-bottom: 0;
}

.repo-search {
    padding-top: $large-padding;
    padding-bottom: $large-padding;
    background: $gray-2;
    .content {
        @extend .container;
    }
    fieldset {
        margin: 0;
        padding: 0 !important;
    }
    input {
         border-radius: 0;
    }
    .form-submit {
        border-radius: 400rem;
        // background: url(/themes/custom/asulib_barrio/images/search-white.svg) center center / 1.25rem no-repeat content-box $maroon;
        // text-indent: -5555px;
        @extend .btn-md;
        line-height: 1.5rem;
        margin-left: 5px;
    }
    form {
        @extend .row;
        @media (max-width: 768px) {
            margin: 20px;
        }
    }
}

@media (max-width: 768px) {
    #search-form .form-submit {
        margin: .5rem 0;
    }
}

.views-exposed-form fieldset.form-item-sort-by {
    max-width: 250px;
}