/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

header #search-block-form {
    padding: 5px 15px;
    flex-flow: row wrap;
}

#search-block-form, #search-home-block-form {
    display: flex;
}

nav #search-form {
    fieldset.form-group {
        display: inline-block;
        @extend .col-md-7;
        margin: .5rem 0;
        padding-right: 0;
    }
    .button {
        vertical-align: top;
        margin-top: 10px;
    }
}

.search-home-form fieldset.form-group, .bento-home-search-form fieldset.form-group {
    margin-bottom: 0;
}

.search-home-form, .bento-home-search-form {
    margin-top: 40px;
    margin-bottom: 40px;
}

#search-home-form, #bento-home-search-form {
    padding: 30px 30px 40px 30px;
    background: $gray-2;
    fieldset.form-group {
        display: inline-block;
        @extend .col-md-7;
    }
}

.repo-search {
    fieldset {
        /*@extend .col;*/
        margin: 0;
        padding: 0 !important;
    }
    input {
         border-radius: 0;
    }
    .form-submit {
        border: 0;
        background: url(/themes/custom/asulib_barrio/images/search-white.svg) center center / 1.25rem no-repeat content-box $maroon;
        text-indent: -5555px;
        padding: unset;
    }
    form {
        @extend .row;
        @extend .no-gutters;
        @extend .justify-content-center;
        /*@extend .align-items-center;*/
    }
}

@media (max-width: 768px) {
    #search-form .form-submit {
        margin: .5rem 0;
    }
}
