/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

header #search-block-form {
    padding: 5px 15px;
    flex-flow: row wrap;
}

#search-block-form, #search-home-block-form {
    display: flex;
}

nav #search-form {
    fieldset.form-group {
        display: inline-block;
        @extend .col-md-7;
        margin-bottom: 0;
    }
}

.search-home-form fieldset.form-group, .bento-home-search-form fieldset.form-group {
    margin-bottom: 0;
}

.search-home-form, .bento-home-search-form {
    margin-top: 40px;
    margin-bottom: 40px;
}

#search-home-form, #bento-home-search-form {
    padding: 30px;
    background: $gray-2;
    fieldset.form-group {
        display: inline-block;
        @extend .col-md-7;
    }
}
