/* ------------------ Sidebar ----------------- */

.sidebar {
  .block {
    border-style: solid;
    border-width: $border-width;
    border-color: $border-color;
    /*padding: $spacer $spacer;*/
    margin: 0 0 ($spacer * 2);
    .content {
      font-size: $font-size-base;
      line-height: $line-height-sm;
    }
  }
  .block-asu-feedback-button {
    border: none;
  }
  h2 {
    margin: 0;
    padding: 1rem ($spacer * .5);
    border: $border-width solid $header-dark;
    font-size: $font-size-lg;
    line-height: $headings-line-height;
    background-color: $header-dark;
    color: $gray-1;
  }
  tbody {
    border: none;
  }
  tr.even,
  tr.odd {
    background: none;
    border-bottom: $border-width solid $border-color;
  }
  nav ul.nav {
    margin: 0 -($spacer);
  }
  .btn-link {
    border-bottom: none;
  }
  nav {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 1rem;
      list-style: none;
      /*border-top: 1px solid $white;*/
    }
    /*li:not(:last-child) {
      border-bottom: 1px solid $white;
    }
    li:hover {
      background-color: $gray-2;
      border-top: 1px solid $border-color;
    }
    li:not(:last-child):hover {
      border-bottom: 1px solid $border-color;
    }*/
    a:hover,
    a:focus {
      color: $maroon;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .block-explore-this-collection-block .content {
    padding: 12px;
  }

  .block-facets-summary {
    display: none;
  }
}

.copy_permalink_link {
  color: $maroon;
  cursor: pointer;
}
