/**
 * @file
 * Footer Styling.
 */

.site-footer {
    padding-top: $spacer;
    .layout-container {
        padding: 0 $spacer;
    }
}


/* Footer Top Styling. */

.site-footer__top .content {
    margin-top: 0;
}


/* Footer Bottom Styling. */

.site-footer__bottom .block {
    margin-top: ($spacer / 2);
}

.site-footer__bottom .content {
    padding-top: ($spacer / 2);
    margin-top: 0;
}
