/**
 * @file
 * Styles for Bootstrap Barrio's tables.
 */

.sticky-header thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
}

.sticky-header th {
    // padding: $table-cell-padding;
    padding: 5px;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
}

span.page-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

.webform-submission-self-deposit-form .table-striped tbody tr:nth-of-type(odd) {
    background-color: $gray-2;
}

.webform-submission-self-deposit-form .table-striped tbody tr:nth-of-type(even) input.image-button {
    background-color: $gray-2;
}

.webform-submission-self-deposit-form .table-striped tbody tr:nth-of-type(odd) input.image-button {
    background-color: white;
}
