/**
 * @file
 * Theme styling for tabs.
 */

nav.tabs {
    margin-bottom: $spacer;
}
nav.tabs ul .nav-item.active a {
    background: #fff;
}
nav.tabs ul .nav-item a {
    color: $brand-primary;
}
nav.tabs ul {
    background: none;
}
