/**
 * @file
 * Theme styling for tabs.
 */

nav.tabs {
    margin-bottom: $spacer;
}
nav.tabs ul .nav-item.active a {
    background: #fff;
}
nav.tabs ul .nav-item a {
    color: $black;
    font-size: 24px;
    font-weight: 700;
}
nav.tabs ul {
    background: none;
}
.nav-tabs .nav-link.active {
    border-bottom: 8px solid $brand-primary;
    color: $brand-primary;
}

.nav-tabs .nav-link.active a:visited {
    color: $brand-primary;
}

.nav-tabs .nav-link {
    margin: .2em .2em 0 .2em;
}