/**
 * @file
 * Styling for Views in Bartik.
 */


/* Tab styles */

.views-displays .tabs .open>a {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open>a:hover,
.views-displays .tabs .open>a:focus {
    color: $link-color;
}

.views-displays .secondary .form-submit {
    font-size: $font-size-sm;
}


/* Tabs action list styles */

.views-displays .tabs .action-list {
    padding: 0;
}


/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
    background-color: #F9F9F9;
}


/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
    color: $link-hover-color;
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
    color: $link-color;
}

.views-row {
    @extend .col-md-12;
}



.view-id-solr_search_content {
    &.view-display-id-block_1 {
        background: #F2F2F2;
        margin-bottom: 40px;
        .views-view-grid {
            margin: 15px;
        }
        .collection-result {
            margin: 10px;
            background: #FFF;
            border: 1px solid rgba(0,0,0,0.125);
            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
                padding-top: 10px;
            }
            .views-field-field-title {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .view-header h2 {
        background: #F2F2F2;
        padding: 10px;
    }
    .item-result {
        border-bottom: 1px solid rgba(0,0,0,0.125);
        padding-bottom: 1rem;
        .field--type-image {
            margin-left: auto;
            margin-right: auto;
            display: block;
            padding-top: 10px;
        }
    }
}


/* adjust look for the summary links */
.views-summary a {
  margin-right: .8em;
}
.views-summary .is-active {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
  color: $gray-7;
}


/* collection browse view */
.views-view-grid {
    @extend .container;
}
.view-id-collections {
    .view-header {
        @extend .container;
    }
    .view-content {
        @extend .container;
    }
}
.collection-browse-object {
    border: 1px solid $gray-5;
    padding: 20px 20px 0px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    .collection-browse-button {
        background: $gray-5;
        text-decoration: none;
        color: #FFF;
        text-align: center;
        padding: 5px;
    }
    .collection-browse-button:nth-of-type(1) {
        margin-right: -10px;
        margin-left: -5px;
    }
    .collection-browse-button:nth-of-type(2) {
        margin-left: 20px;
        margin-right: -10px;
    }
    .collection-browse-thumb {
        padding-right: 10px;
        max-width: 50%;
    }
}
.collection-browse-object:nth-of-type(odd) {
    margin-left: -5px;
}
.collection-browse-object:nth-of-type(even) {
    margin-right: -5px;
}

/* Expand icon on thumbnail display */
span.expand-image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 1.25em;
    color: $gray-7;
    border-left: 25px solid transparent;
    border-right: 25px solid $gold;
    border-top: 25px solid transparent;
    border-bottom: 25px solid $gold;
    width: 0;
    height: 0;
    display: block;
}
.expand-image i {
    position: absolute;
    top: 0px;
    left: 0px;
}
