/**
 * @file
 * Styling for Views in Bartik.
 */


/* Tab styles */

.views-displays .tabs .open>a {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open>a:hover,
.views-displays .tabs .open>a:focus {
    color: $link-color;
}

.views-displays .secondary .form-submit {
    font-size: $font-size-sm;
}


/* Tabs action list styles */

.views-displays .tabs .action-list {
    padding: 0;
}


/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
    background-color: #F9F9F9;
}


/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
    color: $link-hover-color;
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
    color: $link-color;
}

.views-row {
    @extend .col-md-12;
}

.main-content .views-field-field-collection-thumbnail a{
    border-bottom: none;
}

.block-facets {
    .ui-slider-pips .ui-slider-pip-selected-2, .ui-slider-pips [class*=ui-slider-pip-selected], .ui-slider-pips [class*=ui-slider-pip-initial] {
        color:#353535;
    }
}

.view-id-solr_search_content {
    &.view-display-id-block_1 {
        background: #F2F2F2;
        margin-bottom: 40px;
        .views-view-grid {
            margin: 15px;
        }
        .collection-result {
            margin: 10px 10px 10px 0;
            background: #FFF;
            border: 1px solid rgba(0,0,0,0.125);
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 992px) {
                max-width: calc(33.33% - 15px);
            }
            @media screen and (max-width: 768px) {
                max-width: calc(50% - 15px);
            }
            .views-field-field-collection-thumbnail {
                // margin-left: auto;
                // margin-right: auto;
                // display: block;
                padding-top: 10px;
                align-self: center;
                flex: 2;
            }

            .views-field-field-title {
                padding-top: 10px;
                padding-bottom: 10px;
                align-self: baseline;
            }
            &:first-of-type {
                margin-left: 10px;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
        .view-header {
            h2, a {
                display: inline-block;
            }
        }
    }
    .view-header h2 {
        background: #F2F2F2;
        padding: 10px;
    }
    .item-result {
        border-bottom: 1px solid rgba(0,0,0,0.125);
        padding-bottom: 1rem;
        strong + p {
            margin-bottom: 0;
        }
        .field--type-image {
            margin-left: auto;
            margin-right: auto;
            display: block;
            padding-top: 10px;
        }
        .views-field-field-media-image, .col-md-2 {
            img {
                width: auto;
                max-height: 200px;
                max-width: 100%;
            }
        }
    }
    .collection-thumbnail-icon {
        text-align: center;
        color: $gray-5;
    }
}

.view-id-collections .views-view-grid .row {
    @extend .row-spaced;
    @extend .pt-2;
    @extend .pb-2;
}

.view-id-collections.view-display-id-sub_collections {
    @extend .container;
    .views-row {
        margin-bottom: $xs-padding;
    }
}


/** Openseadragon **/
.node--view-mode-open-seadragon {
    .field--name-field-media-image {
        width: 100%;
    }
}

.expand-image {
    display: none;
}

.node--view-mode-asu-document, .node--view-mode-asu-image {
    /* Expand icon on thumbnail display */
    a span.expand-image {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 1.25em;
        color: $gray-7;
        border-left: 25px solid transparent;
        border-right: 25px solid $gold;
        border-top: 25px solid transparent;
        border-bottom: 25px solid $gold;
        width: 0;
        height: 0;
        display: block;
    }
    a .expand-image i {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .file-container .views-element-container {
        position: relative;
    }
}

.node--type-page, .view-solr-search-content, .node--type-collection, .node--view-mode-asu-complex-object, .complex-object-child-box {
    .expand-image {
        display: none;
    }
}

.repo-item {
    .view-display-id-thumbnail {
        border: 1px solid $border-color;
    }
}


#block-views-block-collections-collection-top-content {
    width: 100%;
    img {
        margin-bottom: 30px;
        height: auto;
    }
}


.view-reorder-children {
    .views-form {
        width: 100%;
    }
}
.view-manage-members {
    .form-no-label > label {
        display: none;
    }
}

.views-manage-members, .views-reorder-children {
   .js-form-type-checkbox input[type="checkbox"], .js-form-type-radio input[type="radio"] {
    padding-top: 0;
    opacity: 1;
    margin-top: 0;
  }
}

.collection-browse-object .icon-container a img {
  max-width: 200px;
}

.main-content .thumb-image-border a {
  border-bottom: none;
}

.view-content-recent .icon-container {
  height: 100%;
  object-fit: $uds-component-card-basic-image-top-object-fit;
}

.view-id-content_recent table td {
  border: none;
  padding: 0;
}

.view-id-collections .far {
  color: $gray-5;
}