/**
 * @file
 * Styling for Views in Bartik.
 */


/* Tab styles */

.views-displays .tabs .open>a {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open>a:hover,
.views-displays .tabs .open>a:focus {
    color: $link-color;
}

.views-displays .secondary .form-submit {
    font-size: $font-size-sm;
}


/* Tabs action list styles */

.views-displays .tabs .action-list {
    padding: 0;
}


/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
    background-color: #F9F9F9;
}


/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
    color: $link-hover-color;
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
    color: $link-color;
}

.views-row {
    @extend .col-md-12;
}



.view-id-solr_search_content {
    &.view-display-id-block_1 {
        background: #F2F2F2;
        margin-bottom: 40px;
        .views-view-grid {
            margin: 15px;
        }
        .collection-result {
            margin: 10px;
            background: #FFF;
            border: 1px solid rgba(0,0,0,0.125);
            display: flex;
            flex-direction: column;
            .views-field-field-collection-thumbnail {
                // margin-left: auto;
                // margin-right: auto;
                // display: block;
                padding-top: 10px;
                align-self: center;
                flex: 2;
            }

            .views-field-field-title {
                padding-top: 10px;
                padding-bottom: 10px;
                align-self: baseline;
            }
        }
        .view-header {
            h2, a {
                display: inline-block;
            }
        }
    }
    .view-header h2 {
        background: #F2F2F2;
        padding: 10px;
    }
    .item-result {
        border-bottom: 1px solid rgba(0,0,0,0.125);
        padding-bottom: 1rem;
        .field--type-image {
            margin-left: auto;
            margin-right: auto;
            display: block;
            padding-top: 10px;
        }
        .views-field-field-media-image {
            img {
                width: 100%;
            }
        }
    }
    .collection-thumbnail-icon {
        text-align: center;
        color: $gray-5;
    }
}


/* adjust look for the summary links */
.views-summary a {
  margin-right: .8em;
}
.views-summary:not(:first-child) a {
    margin-left: .6em;
}
.views-summary .is-active {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
  color: $gray-7;
}


/* collection browse view */
.views-view-grid {
    @extend .container;
}
.view-id-collections {
    .view-header {
        @extend .container;
    }
    .view-content {
        @extend .container;
    }
}
.view-collections {
    .form-control {
        border-radius: 0;
    }
    .form-actions,
    .view-header {
        padding-left: 0;
    }
    .view-content {
        margin-bottom: ($spacer * 1.5);
    }
    .form-row fieldset {
        padding-right: 0;
    }
    .view-display-id-block_1 .view-content {
        padding: 0;
    }
}

.node--view-mode-collection-browse-teaser.node--type-collection {
    height: calc(100% - 20px);
}
.collection-browse-object {
    border: 1px solid $gray-5;
    padding: 20px 20px 0px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    .collection-browse-button {
        width: 100%;
        align-self: flex-end;
        a {
            background: $gray-5;
            color: #FFF;
            border-bottom: none;
            border-radius: 0px;
            border: 1px solid $gray-5;
        }
        .btn:nth-of-type(1) {
            margin-left: -5px;
            margin-right: 11px;
        }
        .btn:nth-of-type(2) {
            margin-right: -5px;
        }
    }
    .collection-browse-thumb {
        padding-right: 10px;
    }
    img {
        height: auto;
    }
    h2 {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .row:last-of-type {
        align-self: auto;
        flex-grow: 1;
    }
    i {
        color: $gray-5;
    }
}
.collection-browse-object:nth-of-type(odd) {
    margin-left: -15px;
}
.collection-browse-object:nth-of-type(even) {
    margin-left: 15px;
}

/** Openseadragon **/
.node--view-mode-open-seadragon {
    .field--name-field-media-image {
        width: 100%;
    }
}


.node--view-mode-asu-document, .node--view-mode-asu-image {
    /* Expand icon on thumbnail display */
    span.expand-image {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 1.25em;
        color: $gray-7;
        border-left: 25px solid transparent;
        border-right: 25px solid $gold;
        border-top: 25px solid transparent;
        border-bottom: 25px solid $gold;
        width: 0;
        height: 0;
        display: block;
    }
    .expand-image i {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.node--type-page, .view-solr-search-content, .node--type-collection, .node--view-mode-asu-complex-object, .complex-object-child-box {
    .expand-image {
        display: none;
    }
}

.repo-item {
    .view-display-id-thumbnail {
        border: 1px solid $border-color;
    }
}


#block-views-block-collections-collection-top-content {
    width: 100%;
    img {
        margin-bottom: 30px;
    }
}
