{#
/**
* @file
* Default theme implementation to display a block.
*
* Available variables:
* - module_path: The path to this module.
*
*
* @ingroup themeable
*/
#}
<div class="wrapper" id="wrapper-footer-innovation">
    <div class="container" id="footer-innovation">
        <div class="row">
            <div class="col">
                <div class="d-flex footer-innovation-links">
                    <img src="/{{ module_path }}/images/200420-GlobalFooter-No1InnovationLockup.png" srcset="/{{ module_path }}/images/200420-GlobalFooter-No1InnovationLockup.png 1x, /{{ module_path }}/images/200420-GlobalFooter-No1InnovationLockup@2x.png 2x" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                    <nav class="nav" aria-label="University Services">
                        <a class="nav-link" href="https://www.asu.edu/map/">Maps and Locations</a>
                        <a class="nav-link" href="https://www.asu.edu/asujobs">Jobs</a>
                        <a class="nav-link" href="https://isearch.asu.edu/">Directory</a>
                        <a class="nav-link" href="https://www.asu.edu/contactasu/">Contact ASU</a>
                        <a class="nav-link" href="https://my.asu.edu/">My ASU</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" id="wrapper-footer-colophon">
    <div class="container" id="footer-colophon">
        <div class="row">
            <div class="col">
                <nav class="nav colophon" aria-label="University Legal and Compliance">
                    <a class="nav-link" href="https://www.asu.edu/copyright/">Copyright and Trademark</a>
                    <a class="nav-link" href="https://www.asu.edu/accessibility/">Accessibility</a>
                    <a class="nav-link" href="https://www.asu.edu/privacy/">Privacy</a>
                    <a class="nav-link" href="https://www.asu.edu/tou/">Terms of Use</a>
                    <a class="nav-link" href="https://www.asu.edu/emergency/">Emergency</a>
                </nav>
            </div>
        </div>
    </div>
</div>