/**
 * CSS to control anything related to our collection page displays
 ============================================================================ */
.stats_box {
    font-size: 24px;
    min-height: 5.2em;
    padding: 0px !important;
    margin-bottom: 2%;
}

.stats_border_box {
    position: relative;
    width: auto;
    height: 94%;
    border: 1px solid #d7d7d7;
    padding: 10px;
    margin: 3% 4%;
}

/* make the sides even with the header */
.stats_box:nth-of-type(3n+1) .stats_border_box {
    margin-left: 0;
}

.stats_box:nth-of-type(3n) .stats_border_box {
    margin-right: 0;
}

.stats_pointer_box {
    cursor: pointer;
}

.stats_box span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.stats_box article {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.clearfloat {
    clear: both;
}
