/**
 * CSS to control anything related to our collection page displays
 ============================================================================ */
.stats_box {
    font-size: 24px;
    margin: 0.5%;
    border: 1px solid #d7d7d7;
    padding: 8px;
    width: 30%;
    min-height: 5.2em;
    float: left;
    position: relative;
}

.stats_box span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.latestitem_box {
    font-size: 24px;
    margin: 0.5%;
    padding: 8px;
    width: 22%;
    min-height: 8.2em;
    float: left !important;
    position: relative;
}

.stats_box article {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.clearfloat {
    clear: both;
}
