/**
 * CSS to control anything related to our collection page displays
 ============================================================================ */
.bento_box {
    margin: 0.5%;
    padding: 8px;
    border-radius: 4px;
    width: 30%;
    min-height: 5.2em;
    float: left;
    background-color: #e8e8e8;
}

.bento_box .bento_item {
    padding: 4px;
    border: 1px solid #d7d7d7;
    margin-bottom: 4px;
    background-color: white;
}

.clearfloat {
    clear: both;
}
